.bg-jumbo{
    background-image: url("../img/jumbo.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/* .bg-img1{
    background-image: url("../img/item1.svg");
    background-size: cover;
    background-repeat: no-repeat;
}
.bg-img2{
    background-image: url("../img/item2.svg");
    background-size: cover;
    background-repeat: no-repeat;
}
.bg-img3{
    background-image: url("../img/item3.svg");
    background-size: cover;
    background-repeat: no-repeat;
}
.bg-img4{
    background-image: url("../img/item4-big.svg");
    background-size: cover;
    background-repeat: no-repeat;
} */
.bg-img5{
    background-image: url("../img/stars.svg");
    background-size: 5%;
    background-size: contain;
} 
.bg-lightblue{
    background-color: #8ea1e1;
}
.bg-orange{
    background-color: orange;
}
.bg-yellow{
    background-color: yellow;
}
.bg-blue{
    background-color: blue;
}
.bg-violet{
    background-color: violet;
}
.bg-white{
    background-color: white;
}
.bg-black{
    background-color: black;
}