.bg-jumbo{
    background-image: url("../img/jumbo.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.bg-img5{
    display: inline-block;
    padding: 25px 25px;
    background-image: url("../img/stars.svg");
    background-size: contain;
} 
.bg-lightgrey{
    background-color: #acacac;
}
.bg-lightblue{
    background-color: #8ea1e1;
}
.bg-blue{
    background-color: blue;
}
.bg-white{
    background-color: white;
}
.bg-black{
    background-color: black;
}