.bg-red{
    background-color: red;
    position: relative;
}
.bg-orange{
    background-color: orange;
}
.bg-yellow{
    background-color: yellow;
}
.bg-green{
    background-color: green;
}
.bg-blue{
    background-color: blue;
}
.bg-violet{
    background-color: violet;
}