*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
a{
    text-decoration: none;
    color: white;
}
li{
    list-style: none;
}
/* Header */
header{
    width: 100%;
    background-color: #3161e0;
}
.container-header{
    width: 80%;
    margin: 0 auto;
    padding: 10px 0;
}
.block-left{
    width: 20%;
    float: left;
}
.block-center{
    width: calc(60% - 30px);
    margin: 0 15px;
    float: left;
}
.block-right{
    width: 20%;
    float: left;
    text-align: center;
}
.block-right span{
    display: inline-block;
}
.navbar ul li{
    display: inline-block;
    padding: 10px 10px;
}
.navbar ul li a{
    padding: 20px;
}
ul li:hover a{
    text-decoration: underline;
}
.block-right:hover span{
    color:#698ef0;
}
section{
    width: 100%;
}
/* Prima section */
.container-text{
    width: 100%;
    text-align: center;
    width: 60%;
    margin: 0 auto;
    padding: 100px 0;
}
.container-text span{
    display: inline-block;
}
.container-text span span{
    font-size: 85%;
    padding-right: 5px;
    font-weight: 1000;
}
.container-text div span:hover{
    color: #8ea1e1;
}
/* Seconda, Terza, Quarta section */
.container-section{
    width: 80%;
    margin: 0 auto;
    padding: 50px 0;
}
.block-image{
    float:left;
    width: 60%;
}
.block-image img{
    width: 100%;
}
.block-title{
    float: left;
    width: calc(40% - 100px);
    margin: 0 50px;
    padding: 30px 0;
}

/* Quinta section */
.bg-lightblue span{
    font-size: 85%;
    padding-right: 5px;
    font-weight: 1000;
}
.container-section div a span:hover{
    color: black;
}

section img:hover{
    box-shadow: 10px 10px 5px 20px grey;
}

/* Footer */
footer{
    width: 100%;
    background-color:#23272a;
}

.container-flag a img{
    vertical-align: middle;
}
.column1{
    width: calc(30% - 50px);
    margin-right: 50px;
    float: left;
}
.column{
    width: calc(17.5% - 10px);
    float: left;
    margin-left: 10px;
}
.column1>a>img{
    margin-right: 20px;
}

.column ul li{
    margin-bottom: 5px;
}

.container-final img{
    float: left;
}
.container-final span{
    float:right
}